<app-loading *ngIf="spin === true"></app-loading>
<div class="container-fluid my-3">
    <div class="d-flex justify-content-between">
        <button mat-raised-button color="warn" routerLink="/shipments">Вернуться назад</button>
        <h1>Создание поставки</h1>
        <div style="width: 10%"></div>
    </div>
    <div class="w-50 my-5 mx-auto">
        <div>
            <form [formGroup]="fg" class="w-100 d-flex flex-column" (ngSubmit)="onSubmit()">
                <h3>Вы можете добавить товар из списка, и/или добавить новый</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Выберите товар из списка</mat-label>
                    <mat-select multiple formControlName="productsSelected" class="w-100">
                        <mat-option *ngFor="let prod of prods" [value]="prod">
                            {{prod.name}}, баркод: {{prod.barcode}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Выберите поставщика</mat-label>
                    <mat-select formControlName="suppSelected" class="w-100" required>
                        <mat-option *ngFor="let item of supps" [value]="item">
                            {{item.surname}} {{item.name}} {{item.patronymic}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <ng-container *ngIf="fg.controls.productsSelected.value !== null">
                <form [formGroup]="fgs">
                    <div *ngFor="let item of selectedProds;" class="w-100 d-flex flex-column">
                        <mat-form-field appearance="fill">
                            <mat-label>Введите кол-во для товара {{item.name}}</mat-label>
                            <input type="number" matInput [formControlName]="item.barcode">
                        </mat-form-field>
                    </div>
                </form>
            </ng-container>
            <hr>
            <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="w-100 d-flex flex-column">
                <mat-form-field appearance="fill">
                    <mat-label>Какое кол-во новой номенклатуры прибыло на склад?</mat-label>
                    <mat-select formControlName="numberOfTickets">
                        <mat-option *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" [value]="i">{{i}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngFor="let ticket of t.controls; let i = index">
                    <mat-card class="my-2">Товар {{i + 1}}
                        <div [formGroup]="ticket">
                            <div class="d-flex justify-content-between w-100">
                                <mat-form-field appearance="fill" class="w-100 m-1">
                                    <mat-label>Введите название товара</mat-label>
                                    <input matInput required formControlName="name">
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="w-100 m-1">
                                    <mat-label>Введите описание</mat-label>
                                    <input matInput required formControlName="description">
                                </mat-form-field>
                            </div>
                            <div class="d-flex justify-content-between w-100">
                                <mat-form-field appearance="fill" class="w-100 m-1">
                                    <mat-label>Введите кол-во товара</mat-label>
                                    <input matInput required formControlName="amount" type="number">
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="w-100 m-1">
                                    <mat-label>Введите цену</mat-label>
                                    <input matInput required formControlName="price" type="number">
                                </mat-form-field>
                            </div>
                            <mat-form-field appearance="fill" hintLabel="Минимально 30 символов" class="w-100">
                                <mat-label>Введите баркод товара</mat-label>
                                <input matInput required formControlName="barcode" #barcode maxlength="30"
                                       minlength="30">
                                <mat-hint align="end">{{barcode.value?.length || 0}}/30</mat-hint>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>
                <div class="text-center mt-3">
                    <button mat-raised-button color="primary"
                            [disabled]="!fg.controls.suppSelected.valid"
                            type="submit"
                    >Создать поставку
                    </button>
                    <button mat-raised-button color="accent" class="mx-3" (click)="onClear()" type="reset">Отчистить
                        поля
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
