<div class="container-fluid my-2">
    <div class="d-flex justify-content-between">
        <button mat-raised-button color="warn" routerLink="/dispatches">Вернуться назад</button>
        <button mat-stroked-button
                color="accent"
                (click)="printPDF()"
        >
            ПЕЧАТЬ В PDF
        </button>
    </div>
    <div #pdfTable class="my-3">
        <h1>Список товаров для отгрузки №{{disID}}</h1>
        <table class="table table-hover table-responsive my-3">
            <thead>
            <tr>
                <th scope="col">ID товара</th>
                <th scope="col">Товар</th>
                <th scope="col">Описание</th>
                <th scope="col">Кол-во для отгрузки</th>
                <th scope="col">Баркод</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of prods" style="cursor: pointer">
                <th class="h4" scope="row">{{item.product_id}}</th>
                <td class="h4">{{item.product_name}}</td>
                <td class="h4">{{item.product_des}}</td>
                <td class="h4">{{item.product_amount}}</td>
                <td class="h4">{{item.product_barcode}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
